@import './partials/variables';

@import './partials/reset';

@import './partials/header';

@import './partials/main';

@import './partials/index';
@import './partials/informacion';
@import './partials/servicios';
@import './partials/sucursal';
@import './partials/contacto';
@import './partials/error404';

@import './partials/footer';

@import './partials/media';